// Place all the styles related to the Meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td,th {
	text-align: center;
	border: 1px solid #CCC;
}

td.meeting_date {
	width: 120px;
}

td.meeting_description {
	width: 150px;
}

td.meeting_mandatory {
	width: 90px;
}

td.meeting_attend {
	width: 90px;
}

